{% macro assets() %}
<img id="wallpaper" src="assets/model/Quartz_Light_Grey.jpg">
{% endmacro %}

{% macro render() %}
<a-entity scale="1 1 1">
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="7"
    height="5"
    depth=".1"
    position="0 1 -3.27"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="13.85"
    height="5"
    depth=".1"
    position="3.45 1 3.7"
    rotation="0 90 0"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="13.85"
    height="5"
    depth=".1"
    position="-3.45 1 3.7"
    rotation="0 90 0"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="7"
    height="5"
    depth=".1"
    position="0 1 10.675"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="4.7"
    height="5"
    depth=".1"
    position="-1 1 -0.9"
    rotation="0 90 0"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="2.5"
    height="5"
    depth=".1"
    position="-2.20 1 1.5"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="1.28"
    height="5"
    depth=".1"
    position="-2.8 1 4.38"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="3.5"
    height="5"
    depth=".1"
    position="-2.11 1 6.08"
    rotation="0 90 0"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="1.28"
    height="5"
    depth=".1"
    position="-2.8 1 7.78"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="1.28"
    height="5"
    depth=".1"
    position="2.8 1 1.5"
    static-body
  ></a-box>
  <a-box
    material="src: #wallpaper; repeat: 80 80; metalness: 0;"
    width="1.28"
    height="5"
    depth=".1"
    position="2.8 1 6"
    static-body
  ></a-box>
</a-entity>
{% endmacro %}

